services:
  popm_container_1:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_1}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-1

  popm_container_2:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_2}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-2

  popm_container_3:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_3}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-3

  popm_container_4:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_4}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-4

  popm_container_5:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_5}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-5

  popm_container_6:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_6}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-6

  popm_container_7:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_7}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-7

  popm_container_8:
    build:
      context: .
      dockerfile: Dockerfile
    environment:
      - POPM_BTC_PRIVKEY=${PRIV_KEY_8}
      - POPM_STATIC_FEE=${STATIC_FEE}
      - POPM_BFG_URL=wss://testnet.rpc.hemi.network/v1/ws/public
    restart: always
    container_name: popm-container-8
